@charset 'utf-8';

*{
    padding: 0;
    margin: 0;
}

ul{
    list-style: none;
}

a{
    color: inherit;
    text-decoration: none;
}

/* wrap */

#wrap{
    width:70%;
    margin:0 auto;
}

/* header */

header{
    width:100%;
    height: 70px;
    line-height: 70px;
    background-color: #5b9bd5;
    border-radius: 10px;
    position: relative;
    margin-top:10px;
    margin-bottom:30px;
}
.logo{
    padding-left:20px;
}

.loginPop{
    display: none;
}

.loginInfo{
    position: absolute;
    top:10px;
    right:20px;
}
#loginId{
    height: 50px;
    display: inline-block;
    line-height: 50px;
    vertical-align: top;
    color: white;
    margin-right: 10px;
}

#loginImg{
    width: 50px;
    height: 50px;
    display: inline-block;
    /* background-color: lightcoral; */
    background-image: url(../img/loginImg1.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    background-repeat: no-repeat;
}

/* container */

.container{
    /* margin-top:30px; */
    border-radius: 10px;
    width:100%;
    height: 500px;
    background-color: #deebf7;
}

.container h3{
    padding-top:50px;
    margin-bottom: 30px;
}
/* h3 */

h3{
    text-align: center;
    font-size: 2em;
    color:#5b9bd5;
}
/* button */

button{
    border:none;
    background-color: inherit;
    border-radius: 10px;
}

.button_nomal{
    width:100px;
    height:40px;
    color: white;
}

.button_small{
    width:80px;
    height: 40px;
    color: white;
}

/* input */

.input_login{
    width:250px;
    height: 40px;
}
